html {
    font-family: 'Raleway', sans-serif;
    background-color: #151515;
}

html h1 {
    color: #ffffff;
    font-size: 5rem;
}

html h2 {
    font-size: 3.5rem;
    color: #ffffff;
}

.nav-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
}

.nav-button:hover {
    text-decoration: underline;
}

#nav-bar {
    text-align: center;
    z-index: 15;
    position: absolute;
    width: 101%;
    left: -1%;
    top: 94%;
    background-color: #101010;
}

#nav-bar-2 {
    text-align: center;
    z-index: 15;
    position: fixed;
    width: 101%;
    left: -1%;
    top: 125%;
    background-color: #101010;
}

#bg-opacity-map {
    z-index: 14;
    position: absolute;
    width: 101%;
    left: -1%;
    top: 25%;
    height: 75%;
    background: linear-gradient(transparent, #070707);
}

#background {
    position: fixed;
    background: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    width: 115%;
    height: 115%;
    left: -7.5%;
    top: -20px;
    filter: blur(5px);
    z-index: 4;
    background-size: cover;
    background-repeat: no-repeat;
}

#backsheet {
    position: absolute;
    z-index: 10;
    width: 101%;
    height: 250%;
    top: 94%;
    left: -1%;
    background-color: #222222;
}